body{
    margin: 0;
	padding: 0;
	font-famyli: 'serif'; 
}
/*INICIA LA PARTE DEL ENCABEZADO Y DEL LOGO IHER*/
#linea{
	width: 100%;
	height 5px;
	background: #FFD700;
}

#encabezado{
	width: auto;
	height: 133px;
	border: 0px solid;
	background: #20B2AA;
}

#centro{
	width: 100%;
	overflow: hidden;
	backgroudn:#FFCC99;
	height: 100vh;
}

#mapa{
	overflow: hidden;
	background:#99FFFF;
}

#formulario{
	overflow: hidden;
	background:#339966;
	height: 100vh;
}

#encabezado #logo {
	width: 500px;
	height: auto;
	border: 0px solid;
	float: left;
}

#encabezado #logo h2{
	color: #fff;
}
.imagen{
	width: 100px;
	height: auto;
	margin-top: 20px;
	float: left;
	margin-right: 15px;
	margin-left: 20px;
	border-radius: 50px;
}

/*----------pie----------*/
#pie{
	width: 100%;
	height: 90px;
	background: #20B2AA;
}

#pie #centro-pie{
	width: 800px;
	height: auto; overflow: hidden;
	margin: auto
}

#pie #centro-pie p{
	color: #fff;
}
.email{
	color: #fff; text-decoration: none;
}
.email:hover{
	text-decoration: underline;
}


/*FINALIZA LA PARTE DEL ENCABEZADO Y DEL LOGO IHER*/

/*INICIA LA PARTE DEL MENU PROPIEDADES GENERALES*/
#encabezado .menu{
	width: 790px;
	float: right;
	margin-top: 40px;
	text-align: center;
	border: 0px solid;
	font-size: 25px;
}

nav ul{
	list-style: none;
	padding: 0;
}

nav li{
	line-height: 2.5rem;
	position: relative;
}

.menu ul{
	position: absolute;
}

nav a{
	color:#fff;
	dislay: block;
	text-decoration: none;
	transition: .4s;
	padding: 10px 20px;
}

nav a:hover{
	backround: rgba(0,0,0,.5);
}

nav li ul{
	float: right;
	font-size: 17px;
}


/*menu parte primer nivel*/
.menu{
	backround: #20B2AA;
    display: table;
    height: auto;
}

.menu >li{
	float: left;
}

/*menu parte segundo nivel*/
nav li li{
	backround: #20B2AA;
	max-height: 0;
	overflow: hidden;
	transition: all .1s;
	width: 155px;
}

nav li:hover > ul > li{
	max-height: 500px;
	overflow: visible;
}

.menu > li > ul{
	top:100%;
}

/*menu parte tercer nivel*/
.menu ul ul{
	left:100%;
	top: 0;
}

/*FINALIZA LA PARTE DEL MENU*/

/*DE AQUI EN ADELANTE ES EL CODIGO DE LA TABLA*/
table#mitabla {border-collapse: collapse;}
td.bajo {backround-color: #ff455e;}
td.medio {backround-color: #d63e3e;}
td.alto {backround-color: #940014;}

td.a {backround-color: #243ff0;}
td.b {backround-color: #1726cf;}
td.c {backround-color: #100085;}

td.aaa {backround-color: #f8ff94;}
td.bbb {backround-color: #fff64f;}
td.ccc {backround-color: #ffff00;}

thead.cabecera tr td {
	font-family: monospace;
	font-size: 30px;
	font-weight: bold;
	text-algin: center;
	color: #ffffff;
	padding: 15px;}

tfoot.pie tr td {
	font-size: 18px;
	font-weight: bold;
	font-family: Georgia;
	padding: 2px;}

	tbody.cuerpo tr td {
	color: #ebebeb;
	padding: 10px;}
	
	td {border-style: solid;
	    border-collor: #cccccc;
	border-width: 2px;}	
}